{% extends 'main/base.html' %}
{% load static %}

{% block new_imports %}
<link rel="stylesheet" href="{% static 'css/car.css' %}"/>
<link rel="stylesheet" href="{% static 'css/car_info.css' %}"/>
{% endblock %}

{% block title %}
Информация о машине
{% endblock %}

{% block banner %}
{% endblock %}

{% block main_content %}
<div>
    <div class="page_info_size_block">
        <div class="info_header">
            <h1>{{ car }}</h1>
            {% if car.year %}
                <span> ({{ car.year }}) </span>
            {% endif %}
        </div>
        <p>{{ car.description }}</p>
    </div>
    <div class="page_comments_size_block">
        {% for i in comments%}
         <div class="comment_block">
             <img class="avatar_comment" src="{% static 'img/void_account.jpg' %}">
             <div class="main_information_comment">
                 <span>{{ i.author }}</span>
                 <p>{{ i.comment|linebreaksbr }}</p>
             </div>
         </div>
        {% endfor %}
        {% if user.is_authenticated %}
        <form method="post" class="form_add_comment">
            {% csrf_token %}
            <input value={{ user.id }} type="hidden" name="author">
            <label class="comment_description">
                <textarea rows="10" placeholder="{{ description_comment }}" name="comment"></textarea>
            </label>
            <input class="button_comment" type="submit" value="Опубликовать" name="send">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block right_content %}

{% endblock %}
