{% extends 'account/base.html' %}
{% load static %}
{% block new_imports %}
<link rel="stylesheet" href="{% static 'css/car.css' %}"/>
<link rel="stylesheet" href="{% static 'css/account.css' %}"/>
{% endblock %}

{% block title %}
Личный кабинет
{% endblock %}

{% block add_button_right %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <input class="button" type="submit" value="Выйти">
    </form>
    <a>

    </a>
{% endblock %}
{% block main_content %}
{% for i in cars %}
    <div class="size_block_on_main">
        <a class="block_on_main" href="{% url 'car_info' i.id %}">
            <span class="in_block_name">{{ i }}</span>
            {% if i.year %}
            <p class="in_block_year">({{ i.year }})</p>
            {% endif %}
            <p class="in_block_description">{{ i.description|truncatechars:100 }}</p>
        </a>
    </div>
{% endfor %}
<div class="size_block_on_main">
        <a class="block_on_main" href="{% url 'car_create' %}">
            <div class="div_for_img">
                <img class="img_add" src="{% static 'img/add.png' %}">
            </div>
        </a>
    </div>
{% endblock %}

{% block right_content %}

{% endblock %}
