:root {
    --default-block-background-color: #989898;
    --hover-block-background-color: #ccc;
    --default-bacground-color-info: #ccc;
}

.size_block_on_main {
    min-width: 200px;
    min-height: 100px;
    width: 20vw;
    height: 13.5vw;
    margin: 5px;
    border-radius: 20px;
    background-color: var(--default-block-background-color);

    &:hover {
        background-color: var(--hover-block-background-color);
    }
    &:hover * {
        /* переменная цвета в button.css */
        color: var(--default-text-color);
    }
    &:active {
        transform: scale(0.98);
    }
}

.block_on_main {
    display: grid;
    height: 100%;
    grid-template-rows: 2.5vw 2vw auto;
    color: white;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

[class^='in_block'] {
    display: grid;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.in_block_name {
    margin-top: 5px;
    grid-row-start: 1;
    font-size: 2vw;
}

.in_block_year {
    grid-row-start: 2;
    font-size: 1.5vw;
}

.in_block_description {
    grid-row-start: 3;
    font-size: 1.2vw;
}

.form_create_car {
    margin-top: 5vh;
    display: grid;
    height: 20vw;
    width: 45vw;
    grid-template-rows: 3vw 13vw 4vw;
    border-radius: 10px;
    justify-content: center;
    background-color: var(--default-block-background-color);
}

.car_create_main {
    grid-row-start: 1;
    display: flex;
    justify-content: space-around;
}

.car_create_main input {
    margin-top: 1vw;
    max-width: 25%;
    height: 2vw;
}

.car_create_description textarea {
    grid-row-start: 2;
    margin: 15px auto;
    border-radius: 5px;
    height: 10vw;
    width: 40vw;
    resize:none;
}
